{% extends "../layouts/base.twig" %}

{% block main_content %}

    
    <h1>E-Commerce DEMO </h1>
    <nav>
        <ul>

        {% for product in products %}
            <h1>{{ product.title }}</h1>
            {# <li><img src="/public/images/{{ image.id }}{{ image.extension }}"></li> #}
            {# <li><img src="/public/images/1.png"></li> #}
        {% endfor %}
            <li><a href="/variants">variants</a></li>
        </ul>
    </nav>

{% endblock %}


{% block title %}Home View{% endblock %}