<header>

<nav class="navbar navbar-expand-lg bg-dark-subtle">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Shopping!</a>
    <div class="" id="navbarNavAltMarkup">
      <div class="navbar-nav d-flex flex-row gap-3">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/products">Products</a>
        <a class="nav-link" href="/variants">Variants</a>
        <a class="nav-link" href="/images">images</a>
      </div>
    </div>
  </div>
</nav>
</header>