<form method="POST" action="/images/{% if image.id %}{{ image.id }}{% endif %}" enctype="multipart/form-data">
    {% if image.id %}
        <input type='hidden' name="id" value="{{ image.id }}"/>
    {% endif %}
    <div>
        <label>images:</label>
        <select name="variantId">
            {% for image in images %}
            <option value="{{ image.id }}">{{ image.extension }}</option>
            {% endfor %}
        </select>
    </div>

    <div>
        <input type="submit" name="submit" />
    </div>
</form>
